/* Custom CSS rules go in here */
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }
.smooth {
  transition: all 1s ease-in;
}

body {
  background: #0a0e16;
}
