package templates

templ About() {
<div class="flex flex-col items-center justify-center h-full space-y-4">
  <h1 class="text-4xl font-bold text-gray-900 dark:text-white">About</h1>
  <p class="text-lg text-gray-500 dark:text-gray-400">This is a simple web server written in Go</p>
</div>
}
